.cont {
  width: 70%;
  margin: auto;
}

.dispi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
}

